.youtubevideocls{
    position: relative;
    padding-top: 56.25%;
    background-color: #333;
    border: 0;
}
  
.youtubevideocls .closebtn{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    border: 0;
    z-index: 999;
    top: -10px;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px 8px; */
}

.youtubevideocls iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 5px;
}

modal-container .modal-content {
    border: 0 !important;
}



.ami_opn_new_block{ display: block; width: 100%;}

.ami_opn_new_block .ami_opn_new_wrap{ display: block; padding: 5px 0; border-bottom: solid 1px #f6f0f0;}

.ami_opn_new_block .ami_opn_new_wrap:last-child{ border: none;}

.ami_opn_new_block .ami_opn_new_wrap .labelclass{ display:block; width: 40%; float: left;     margin: 0px;}

.ami_opn_new_block .ami_opn_new_wrap select{ width: 58%; float: right; border: solid 1px #ccc;     background: #d9d3d3;
    padding: 5px;}

.clear{ clear:both; overflow: hidden; display: block;}

.ami_opn_new_block form{margin: 0px;}

.asbuttonwrapper button{ margin: 2px;}


.edit_user{
    background: #00a8ef;
    font-size: 20px;
    font-family: 'RalewaySemiBold';
    text-decoration: none;
    float: right;
    padding: 5px 15px 4px 15px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase; border: none!important; margin:0px 1px 0 1px;
   
}

.previewtable{ margin-bottom: 10px; height: 280px; overflow: hidden;      overflow-y: scroll;
    overflow-x: scroll; }


    .submitloader{position: relative;cursor: not-allowed;pointer-events: none;}

    .submitloader .edit_user.spinner{
        position: absolute;
        background-color:rgba(221, 221, 221, .5);
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 99;
    }


   .buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
  }
  
  /* Add a right margin to each icon */
  /* .fa {
    margin-left: -12px;
    margin-right: 8px;
  } */

  .inner_actionblock_wrapper{   width: 300px;   display: block;}

  .emailfill1{  width: 300px;}

  .productselect{      width: 300px;
    margin: 2px 0!important;
    height: 78px!important;
}

.s_getmyoffer_adminpanel .inner_actionblock form .markatingviewbtn {
    font-size: 16px;
    color: #fff;
    font-family: 'RalewaySemiBold';
    background: #00c0ff;
    border: none;
    padding: 0px 10px;
    height: 38px;
    text-transform: uppercase;
    margin: 0px;
    cursor: pointer;   width: 300px;
}

  .search_content button {
    min-width: 50px!important;
    padding: 0px 0 0 0!important;
    text-align: center;
}
  @media screen and (max-width: 1199px){

.manageleads .user_management_wrapper .user_management_inner .inner_content_wrapper .search_content button {
    width: 40px!important;
    padding: 0px!important;
    float: left!important;
    margin-left: 0;
    margin-bottom: 18px;
    margin-top: 0;
    min-width: inherit!important;
}
.manageleads .user_management_wrapper .user_management_inner .inner_content_wrapper .search_content input {
    margin-bottom: 0;
    width: 90%!important;
    float: left;
    margin-top: 8px;
}

.manageleads .user_management_wrapper .user_management_inner .inner_content_wrapperinner .search_content button {
    width: 28px!important;
    float: left!important;
    margin-left: 0;
    margin-bottom: 0px;
    margin-top: 8px;
    min-width: inherit!important;
}
}

@media screen and (max-width: 900px){

    .inner_actionblock_wrapper{   width: auto;   display: block;}

    .productselect  {
        float: none;
        margin-bottom: 10px!important;
    }

    .emailfill1  {
        float: none;
    }

    .s_getmyoffer_adminpanel .inner_actionblock form button {
        width: auto;
        margin-left: auto!important;
        margin-right: auto!important;
        display: block;
        height: auto!important;
        padding: 10px!important;
        margin-top: 10px!important;
    }

}