.marketingre_view_top{ display: block; width: 100%; background: url(../../assets/images/marketingre_view_topbg.jpg) no-repeat; background-size: cover; padding: 18px 0px;
 border-bottom: solid 1px #03baee;
}

.marketingre_view_top_body{ width: 1780px; margin: 0 auto;}

.marketingre_view_top_wrapper{ display: flex;     align-items: center;}
.marketingre_view_top_left{ width: 237px;  padding-right: 40px;}

.marketingre_view_top_left img{ width: auto; max-width: 100%;}

.marketingre_view_top_right{   padding-left: 50px; background: url(../../assets/images/marketingre_view_devider.png) no-repeat left center;}

.marketingre_view_top_right h2{ font-size: 48px; color: #00bdf2; text-transform: uppercase; font-weight: bold; text-shadow: 1px 1px 2px #737c7f;}

.marketingre_view_top_right h3{ margin: 0; padding: 5px 0 0 0; font-size: 20px; color: #1f1f1f; line-height: 24px; font-weight: normal;}

.marketingre_view_body{ background: url(../../assets/images/marketingre_view_bodybg.jpg) no-repeat; background-size: cover; padding: 8px 0;}

.marketingre_view_body_wrapper{width: 1780px; margin: 0 auto;}


.marketingre_view_body_footer{ background: url(../../assets/images/marketingre_view_footerbg.jpg) no-repeat; background-size: cover; padding-right: 120px; margin-top: 8px;}

.marketingre_view_body_footer_wrapper{ background: url(../../assets/images/marketingre_view_doctorimg.png) no-repeat  right 5px; padding: 36px 250px 36px 52px;}

.marketingre_view_body_footer_wrapper h2{ margin: 0; padding: 0; font-size: 36px; color: #003848; text-transform: uppercase; font-weight: bold;     line-height: 34px;}

.marketingre_view_body_footer_wrapper h3{ margin: 0; padding: 8px 0 0 0; font-size: 18px; color: #363636;  }

 

.marketingre_view_apog{ padding-right: 0px;}

.marketingre_view_apog .marketingre_view_body_footer_wrapper{background: url(../../assets/images/apog_marketingre_view.png) no-repeat  105% -25px; padding: 36px 450px 36px 52px;}


.marketingre_view_uta .marketingre_view_body_footer_wrapper{background: url(../../assets/images/uta_marketingre_view.png) no-repeat  right 5px;  padding: 36px 220px 36px 52px;}


.marketingre_view_Helios{ padding-right: 0px;}
.marketingre_view_Helios .marketingre_view_body_footer_wrapper{background: url(../../assets/images/Helios_marketingre_view.png) no-repeat  right 5px;  padding: 36px 400px 36px 52px;}


 
.marketingre_view_Medworld .marketingre_view_body_footer_wrapper{background: url(../../assets/images/Medworld_marketingre_view.png) no-repeat  right 5px;  padding: 36px 280px 36px 52px;}


.marketingre_view_geo .marketingre_view_body_footer_wrapper{background: url(../../assets/images/geo_marketingre_view.png) no-repeat  right center;  padding: 36px 280px 36px 52px;}

 
.marketingre_view_body_con{ display: flex;  }

.marketingre_view_body_con_left{ width: 70%; padding-right: 1%;}

.marketingre_view_body_con_right{background: #ededed; width: 30%; position: relative; }

.marketingre_view_body_con_left button{ display: inline-block; width: 49.5%; font-size: 22px; color: #0b1f28; text-shadow: 0 1px 1px #add1e6; text-align: center; padding: 18px 10px;
 font-weight: bold; text-transform: uppercase; border: none; cursor: pointer; margin-top: 8px;
    background: rgba(104,207,255,1);
    background: -moz-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(104,207,255,1)), color-stop(100%, rgba(13,168,240,1)));
    background: -webkit-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
    background: -o-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
    background: -ms-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
    background: linear-gradient(to bottom, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68cfff', endColorstr='#0da8f0', GradientType=0 );
}

.marketingre_view_body_con_left button:last-of-type{ margin-left: 1%;}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


.marketingre_view_body_con_right_top{ background: #00a8f6; padding: 18px 18px 5px 18px;}

.marketingre_view_body_con_right_top h2{ text-align: center; font-size: 24px; color: #fff; text-transform: uppercase; margin: 0; padding: 6px 0 10px 0; font-weight: bold; text-shadow: 0 0 4px #25424f;}

.marketingre_view_body_con_right_top  .form-group{ display: block; margin: 0 0 4px 0;}

.marketingre_view_body_con_right_top .form-control{ display: block; width: 100%; border-radius: 5px; border: solid 1px #008ed1; color: #5a5a5a;}

.marketingre_view_body_con_right_top .form-control::-webkit-input-placeholder { /* Edge */
    color: #5a5a5a; opacity: inherit;
  }
  
  .marketingre_view_body_con_right_top .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5a5a5a; opacity: inherit;
  }
  
  .marketingre_view_body_con_right_top .form-control ::placeholder {
    color: #5a5a5a; opacity: inherit;
  }

  .marketingre_view_body_con_right_top  .form-group:last-of-type{ text-align: center; margin-top: 10px;}

  .marketingre_view_body_con_right_top  .form-group:last-of-type button{ margin: 4px; background: #090f1e; display: inline-block; text-align: center; padding:4px 8px; width: 110px;  color: #fff; font-size: 18px; text-transform: uppercase; font-weight: bold; border: none; cursor: pointer;}

.marketingre_view_body_con_right_bottom{ padding: 12px 24px; }

.marketingre_view_body_con_right_bottom_wrapper{height: 528px; overflow: hidden; overflow-y: scroll;}

/* .marketingre_view_body_con_right_bottom_wrapper ul{display: block; margin: 0; padding: 0 5px;} */

.marketingre_view_body_con_right_bottom_wrapper .span1stloop{display: block;  }

.span1stloopSUB{ display: block; list-style: none; background: #ffffff; padding: 20px; box-shadow: 0 0 8px #ddd; margin: 13px 0;}

.marketingre_view_body_con_right_bottom_wrapper    p{ display: inline-block; font-size: 18px; color: #00bdf2; margin: 0; padding: 5px 12px 0 0; }

.marketingre_view_body_con_right_bottom_wrapper   .event_f_name{ display: block; font-size: 18px;     line-height: 24px; color: #434343; font-weight: bold; margin: 0; padding: 0 0 5px 0;}


.marketingre_view_body_con_right_bottom_wrapper   .event_f_zone{ display: block; font-size: 16px; color: #2e2e2e; font-weight: normal; margin: 0; padding: 7px 0 0 0;}

 

  .booknow_button{ width: 152px; text-align: center; border: none; cursor: pointer; background: #00b2eb; font-size: 16px; color: #ffffff; margin-top: 10px; text-transform: uppercase;
    line-height: 30px;}

    .form-controlDate{ background:#fff url(../../assets/images/marketingre_view_dateicon.png) no-repeat 98% center;     padding-right: 36px;}  


.marketingre_view_body_con_top{background: rgba(3,164,251,1);
    background: -moz-linear-gradient(left, rgba(3,164,251,1) 0%, rgba(44,236,243,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,164,251,1)), color-stop(100%, rgba(44,236,243,1)));
    background: -webkit-linear-gradient(left, rgba(3,164,251,1) 0%, rgba(44,236,243,1) 100%);
    background: -o-linear-gradient(left, rgba(3,164,251,1) 0%, rgba(44,236,243,1) 100%);
    background: -ms-linear-gradient(left, rgba(3,164,251,1) 0%, rgba(44,236,243,1) 100%);
    background: linear-gradient(to right, rgba(3,164,251,1) 0%, rgba(44,236,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03a4fb', endColorstr='#2cecf3', GradientType=1 );
 padding: 15px; margin-bottom: 10px; display: flex; align-items: center;

}


.marketingre_view_body_con_top_left{ width: 45%;}
 
.marketingre_view_body_con_top_left h2{ margin: 0; padding: 0; display: block; text-align: center; font-size: 48px; color: #ffffff; text-shadow: 1px 1px 2px #096089; text-transform: uppercase;}
    

.marketingre_view_body_con_top_right{ width: 54%; padding-left: 1%;}

.marketingre_view_body_con_top_right_box{background: url(../../assets/images/marketingre_view_newshadow.png) no-repeat left bottom; padding-left: 38px;}

.marketingre_view_body_con_top_right_box h3{ display: block; background: #1287b8; border: solid 1px #4ce3f8; padding: 10px; font-size: 30px; color: #ffffff; line-height: 32px;}

.marketingre_view_body_con_top_right_box h3 span{ color: #fff000; display: inline-block;}


.marketingre_view_body_con_top2{ margin-top: 10px!important;}

.marketingre_view_body_con_top2 h2 { font-size: 36px; line-height: 38px;}

.marketingre_view_body_con_top2 .marketingre_view_body_con_top_right button{ display: block; background: rgba(53,54,55,1);
    background: -moz-linear-gradient(top, rgba(53,54,55,1) 0%, rgba(1,1,1,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,54,55,1)), color-stop(100%, rgba(1,1,1,1)));
    background: -webkit-linear-gradient(top, rgba(53,54,55,1) 0%, rgba(1,1,1,1) 100%);
    background: -o-linear-gradient(top, rgba(53,54,55,1) 0%, rgba(1,1,1,1) 100%);
    background: -ms-linear-gradient(top, rgba(53,54,55,1) 0%, rgba(1,1,1,1) 100%);
    background: linear-gradient(to bottom, rgba(53,54,55,1) 0%, rgba(1,1,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353637', endColorstr='#010101', GradientType=0 );  width: 100%;  border-radius: 5px; border: solid 1px #53d8fa;
 font-size: 48px; color: #ffffff; text-transform: uppercase; padding:15px 10px; font-weight: bold; line-height: 40px;  
}

.marketingre_view_body_con_right_additionBlock{  padding: 8px; background: #ededed; width: 30%; position: relative; display: flex;  flex-direction: column; }


.div_block_wrapper{background: #09b4e7 url(../../assets/images/marketingre_view_newtext_bg.png) no-repeat right  bottom; height: 100%;}
.marketingre_view_body_con_right_additionBlock .div_block1{ background: #1287b8; position: relative; padding: 30px; border-bottom: solid 1px #a1cfe3;  position: relative;  }

.marketingre_view_body_con_right_additionBlock .div_block1 h2{ margin: 0; padding: 0px; font-size:36px; color: #fefefe; text-shadow: 1px 1px 2px #096089; text-align: center; text-transform: uppercase;}

.marketingre_view_body_con_right_additionBlock .div_block1::after{ content: ''; background: url(../../assets/images/marketingre_view_newtext_arrow.png) no-repeat left bottom; width: 27px; height: 30px; position: absolute; bottom:-30px; left: 50%;}

.marketingre_view_body_con_right_additionBlock .div_block2{   padding-top: 10px;}

.marketingre_view_body_con_right_additionBlock .div_block2 h2{ padding: 15px; font-size: 30px; color: #fefefe; text-shadow: 1px 1px 2px #096089;}

.marketingre_view_body_con_right_additionBlock .div_block2 h2 span{ color: #f1ff12; display: inline-block;}

@media screen and (max-width:1860px) {
    .marketingre_view_top_body{ width: 1730px;}
    .marketingre_view_body_wrapper{ width: 1730px;}

    .marketingre_view_body_con_right_bottom_wrapper {
        height: 509px; 
    }
}

@media screen and (max-width:1800px) {
    .marketingre_view_top_body{ width: 1680px;}
    .marketingre_view_body_wrapper{ width: 1680px;}

    .marketingre_view_body_con_right_bottom_wrapper {
        height: 489px; 
    }
}

@media screen and (max-width:1700px) {
    .marketingre_view_top_body{ width: 1600px;}
    .marketingre_view_body_wrapper{ width: 1600px;}

    .marketingre_view_body_con_right_bottom_wrapper {
        height: 458px; 
    }

    .marketingre_view_body_con_right_additionBlock .div_block1 h2{ font-size: 30px;}
}

@media screen and (max-width:1640px) {
    .marketingre_view_top_body{ width: 1500px;}
    .marketingre_view_body_wrapper{ width: 1500px;}

    .marketingre_view_body_con_right_bottom_wrapper {
        height: 419px; 
    }

    .marketingre_view_body_con_top_left  h2{ font-size: 40px;}

    .marketingre_view_body_con_top_right_box  h3 { font-size: 25px;}

}

@media screen and (max-width:1540px) {
    .marketingre_view_top_body{ width: 1400px;}
    .marketingre_view_body_wrapper{ width: 1400px;}

    .marketingre_view_body_con_right_bottom_wrapper {
        height: 380px; 
    }
}


@media screen and (max-width:1440px) {
    .marketingre_view_top_body{ width: 1300px;}
    .marketingre_view_body_wrapper{ width: 1300px;}

    .marketingre_view_body_con_right_bottom_wrapper {
        height: 340px; 
    }

    .marketingre_view_body_con_right_bottom_wrapper ul li label{font-size: 16px; line-height: 20px;}
    .marketingre_view_body_con_right_bottom_wrapper ul li span{font-size: 16px; }
    .marketingre_view_body_con_right_bottom_wrapper ul li p{font-size: 16px; }

    .marketingre_view_body_con_right_additionBlock .div_block1 h2{ font-size: 25px;}
    .marketingre_view_body_con_right_additionBlock  .div_block2  h2{ font-size: 25px;}

    .marketingre_view_body_con_right_additionBlock .div_block1 {  padding: 20px;}

}

@media screen and (max-width:1380px) {
    .marketingre_view_body_con_top_left  h2{ font-size:35px;}

    .marketingre_view_body_con_top_right_box  h3 {     font-size: 22px;
        line-height: 26px;}

        .marketingre_view_body_con_top_right_box  h3  br{ display: none;}

}

@media screen and (max-width:1340px) {
    .marketingre_view_top_body{ width: 1200px;}
    .marketingre_view_body_wrapper{ width: 1200px;}

    .marketingre_view_body_con_right_bottom_wrapper {
        height: 303px; 
    }
}
 

@media screen and (max-width:1240px) {
    .marketingre_view_top_body{ width: 1100px;}
    .marketingre_view_body_wrapper{ width: 1100px;}

    .marketingre_view_body_con_left button{ font-size: 20px;}

    
    .marketingre_view_body_con_right_bottom_wrapper {
        height: 260px; 
    }

    .marketingre_view_body_con_right_additionBlock .div_block1 h2 {
        font-size: 22px;
    }

    
}





@media screen and (max-width:1199px) {

    .marketingre_view_body_con_right_additionBlock{ width: auto; margin-top: 10px; text-align: center;}

    .marketingre_view_body_con_right_additionBlock .div_block2 h2{word-break: break-all;}

    .div_block_wrapper{ background-image: none;}

    .marketingre_view_top_body{ width: auto;}
    .marketingre_view_top_wrapper{ display: block; text-align: center;}
    .marketingre_view_top_right{   padding-left: 0px; background:none;}

    .marketingre_view_top_left{ width: auto; background:none; padding:0 0 5px 0;}

    .marketingre_view_top{ padding: 18px 20px;}


    .marketingre_view_body_wrapper{ width: auto; padding: 0 20px;}


    .marketingre_view_body_con{ display: block;}

.marketingre_view_body_con_left{ width:auto; padding-right:0;}

.marketingre_view_body_con_right{  width:auto; margin-top: 20px; }

.marketingre_view_body_con_right_bottom_wrapper {
    height: 370px; 
}

.marketingre_view_apog .marketingre_view_body_footer_wrapper{ background-position: 105% top;}


.marketingre_view_body_con_top{ display: block;}

.marketingre_view_body_con_top_left{ display: block; width: 100%; text-align: center;}

.marketingre_view_body_con_top_right{ display: block; width: 100%; text-align: center; margin-top: 15px; padding: 0px;}

.marketingre_view_body_con_top_right_box {
    background:none;
    padding-left: 0;
}

.marketingre_view_body_con_top_right_box  h3 { 
    word-break: break-all;
}
}


@media screen and (max-width:991px) {

    .marketingre_view_body_footer{ padding-right: 0px;}

}

@media screen and (max-width:1050px) {

    .marketingre_view_body_footer{ padding-right: 0px;}
.marketingre_view_body_footer_wrapper  {
     background-position: center bottom;
    padding: 30px 20px 430px 20px;
    text-align: center;
}


.marketingre_view_apog .marketingre_view_body_footer_wrapper  {
    background-position: center bottom;
    padding: 30px 20px 62% 20px;
    text-align: center;
    background-size: 100%;
}


.marketingre_view_uta .marketingre_view_body_footer_wrapper  {
    background-position: center bottom;
   padding: 30px 20px 360px 20px;
   text-align: center;
}


.marketingre_view_Helios .marketingre_view_body_footer_wrapper  {
    background-position: center bottom;
   padding: 30px 20px 290px 20px;
   text-align: center;
}

.marketingre_view_Medworld .marketingre_view_body_footer_wrapper  {
    background-position: center bottom;
   padding: 30px 20px 330px 20px;
   text-align: center;
}

.marketingre_view_geo .marketingre_view_body_footer_wrapper  {
    background-position: center bottom;
   padding: 30px 20px 204px 20px;
   text-align: center;
}



}



@media screen and (max-width:540px) {
    .marketingre_view_body_con_top2  .marketingre_view_body_con_top_right  button{ font-size: 36px;}

}

@media screen and (max-width:380px) {
    .marketingre_view_body_con_top_left h2  {
        font-size: 28px;
    }
}