<!-- <app-adminheader></app-adminheader> -->

<div class="marketingre_view_top">

  <div class="marketingre_view_top_body">
  <div class="marketingre_view_top_wrapper">


    <div class="marketingre_view_top_left">
      <img src="../../assets/images/marketingre_view_awslogo.png" alt="#">
    </div>
   
    <div class="marketingre_view_top_right">
   <h2>Lorem Ipsum is simply </h2>

   <h3>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in <br/>a piece of classical Latin literature from 45 BC, making it over 2000 years old. </h3>
    </div>
   

  </div>
</div>

</div>

<div class="marketingre_view_body">


  <div class="marketingre_view_body_wrapper">



    <div class="marketingre_view_body_con">

      <div class="marketingre_view_body_con_left">
        <div class="video-responsive">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/8qkgcCBOQM4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>


      <button>Jump To Marketing Strategies</button>

      <button>Jump To Expected Revenues </button>

      </div>


      <div class="marketingre_view_body_con_right">

        <div class="marketingre_view_body_con_right_top">

          <h2 *ngIf="allslotslength == 0">No Result Found</h2>
          <h2 *ngIf="allslotslength != 0">PLEASE CHOOSE DAY</h2>
        <form *ngIf="allslotslength != 0">

            <div class="form-group">
              <select class="form-control select_inpu2"  style="height: 36px;"  (change)="settimezone()"
              [(ngModel)]="timezoneval" [ngModelOptions]="{standalone: true}">
              <option value="">Select a Timezone</option>
              <option *ngFor="let item of timezone" value="{{item.value}}">{{item.show}} </option>
          </select>
          </div>
          
            <div class="form-group">

                
                <input type="text" placeholder="Select Date Range" class="form-control form-controlDate"
                    [(ngModel)]="filterval5" [ngModelOptions]="{standalone: true}"
                    [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY',  selectFromOtherMonth: false }"
                    #drp="bsDaterangepicker" bsDaterangepicker>

            </div>

            <div class="form-group">

            <button (click)="geteventarr()">Update</button>

            <button (click)="setdatetonull()">reset</button>
            </div>
            

        </form>
          

   


        </div>

        <div class="marketingre_view_body_con_right_bottom" *ngIf="allslotslength != 0" >
          <div class="marketingre_view_body_con_right_bottom_wrapper">
         <span class="span1stloop" *ngFor="let item of allslots;let i=index;">
          <span   *ngIf="item.slots!=null && item.slots.length>0">
            <span  class="span1stloopSUB" *ngFor="let eachslots of item.slots;let j=index;">
             <app-slots [itemdata]="item" [itemid]="j" ></app-slots>
            </span>
          </span>
  
       </span>

        </div>
        </div>


      </div>



    </div>



 <div class="marketingre_view_body_footer">

  <div class="marketingre_view_body_footer_wrapper">

    <h2>There are many variations of passages of Lorem Ipsum available,</h2>
    <h3>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,</h3>
  
  </div>

</div>

  </div>


</div>
  
<!-- <app-footer></app-footer> -->