.reptrainingcenter_new_body{ background: url(../../assets/images/reptrainingcenter_new_bg.jpg) no-repeat left top; background-size: cover;}

.reptrainingcenter_new_wrapper_con{ background: url(../../assets/images/reptrainingcenter_newbannr1.png) no-repeat 98% bottom; padding: 0 380px;}

.reptrainingcenter_new_wrapper{ display: block; width: 100%; padding: 35px 0 20px 0;}

.reptrainingcenter_new_wrapper h2{ text-align: center; font-size: 50px; color: #f1f1f1; text-transform: uppercase;  
       font-family: 'RalewayBold'; line-height: 50px; text-shadow: 0 0 5px #1a4a6e; margin: 0; padding: 0;}


   .reptrainingcenter_new_wrapper h3{ text-align: center; font-size: 26px; color: #010101;  
        font-family: 'RalewayBold'; line-height: 30px;  margin: 0; padding: 10px 0; }


   .reptrainingcenter_new_wrapper h5{ text-align: center; font-size: 24px; color: #ffffff;  
            font-family: 'RalewayBold'; line-height: 30px;  margin: 0; padding: 25px 0 10px 0; }

  .reptrainingcenter_new_wrapper .reptrainingcenterfootertext{ display: block;  background: url(../../assets/images/reptrainingcenter_newbottombg.png) no-repeat center bottom;
             width: 594px; height: 127px; background-size: cover; margin: 0 auto; margin-top: 20px;
            }

  .reptrainingcenter_new_wrapper .reptrainingcenterfootertext h6{ display: block; text-align: center; padding: 18px 5px; margin: 0; font-size: 36px; 
    color: #202020; text-transform: uppercase;  font-family: 'RalewayBold'; line-height: 38px; text-shadow: 0 0 2px #fff;}

    .reptrainingcenter_new_text{ background: #fff; border-radius: 10px 10px 0 0; text-align: center; font-size: 30px; padding: 15px 10px 50px 10px; margin-top: 10px;  }

    .reptrainingcenter_new_text h4{ text-align: center;    font-family: 'RalewayBold'; color: #372d2d; text-transform: uppercase; margin: 0; padding: 10px 0 0 0; font-size: 30px;}

    .reptrainingcenter_new_text2{ margin-top: -35px; display: flex; overflow: hidden;}

    .reptrainingcenter_new_text2 .reptrainingcenter_new_text2_sub{ background: #fff; border-radius: 10px; padding: 8px; width: 378px; }

    .reptrainingcenter_new_text2 .reptrainingcenter_new_text2_sub:nth-child(2) { margin: 0 10px; }

    .reptrainingcenter_new_text2 .reptrainingcenter_new_text2_sub:nth-child(1) .reptrainingcenter_new_text2_subbody{   background: rgba(190,214,35,1);
     background: -moz-linear-gradient(top, rgba(190,214,35,1) 0%, rgba(92,197,35,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(190,214,35,1)), color-stop(100%, rgba(92,197,35,1)));
     background: -webkit-linear-gradient(top, rgba(190,214,35,1) 0%, rgba(92,197,35,1) 100%);
     background: -o-linear-gradient(top, rgba(190,214,35,1) 0%, rgba(92,197,35,1) 100%);
     background: -ms-linear-gradient(top, rgba(190,214,35,1) 0%, rgba(92,197,35,1) 100%);
     background: linear-gradient(to bottom, rgba(190,214,35,1) 0%, rgba(92,197,35,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bed623', endColorstr='#5cc523', GradientType=0 );}

    .reptrainingcenter_new_text2 .reptrainingcenter_new_text2_sub:nth-child(2) .reptrainingcenter_new_text2_subbody{background: rgba(254,209,10,1);
     background: -moz-linear-gradient(top, rgba(254,209,10,1) 0%, rgba(218,156,0,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,209,10,1)), color-stop(100%, rgba(218,156,0,1)));
     background: -webkit-linear-gradient(top, rgba(254,209,10,1) 0%, rgba(218,156,0,1) 100%);
     background: -o-linear-gradient(top, rgba(254,209,10,1) 0%, rgba(218,156,0,1) 100%);
     background: -ms-linear-gradient(top, rgba(254,209,10,1) 0%, rgba(218,156,0,1) 100%);
     background: linear-gradient(to bottom, rgba(254,209,10,1) 0%, rgba(218,156,0,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed10a', endColorstr='#da9c00', GradientType=0 );}

    .reptrainingcenter_new_text2 .reptrainingcenter_new_text2_sub:nth-child(3) .reptrainingcenter_new_text2_subbody{background: rgba(255,180,6,1);
     background: -moz-linear-gradient(top, rgba(255,180,6,1) 0%, rgba(251,113,33,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,180,6,1)), color-stop(100%, rgba(251,113,33,1)));
     background: -webkit-linear-gradient(top, rgba(255,180,6,1) 0%, rgba(251,113,33,1) 100%);
     background: -o-linear-gradient(top, rgba(255,180,6,1) 0%, rgba(251,113,33,1) 100%);
     background: -ms-linear-gradient(top, rgba(255,180,6,1) 0%, rgba(251,113,33,1) 100%);
     background: linear-gradient(to bottom, rgba(255,180,6,1) 0%, rgba(251,113,33,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb406', endColorstr='#fb7121', GradientType=0 );  }


     .reptrainingcenter_new_text2_subbody{ height: 100%; text-align: center;}

     .reptrainingcenter_new_text2_subbody h4{ display: block; text-align: center; font-family: 'RalewayBold'; padding: 20px 10px; font-size:27px; color: #222222; font-weight: bold;}

     .bannerlogog1 img{ max-width: 100%; }

     .bannerlogog1con1{ background: url(../../assets/images/reptrainingcenter_newlogobg1.png) no-repeat  center center; background-size: cover; padding: 5px; }


     .bannerlogog1con2{ background: url(../../assets/images/reptrainingcenter_textbg2.png) no-repeat  center center; background-size: cover; padding: 8px 5px 23px 5px; margin: 20px 0 0 0;}

     .bannerlogog1con3{ background: url(../../assets/images/reptrainingcenter_textbg2.png) no-repeat  center center; background-size: cover; padding: 8px 5px 12px 5px; margin:0 0 1px 0;}

     .bannerlogog1con3 img{ height: 50px;}

    
     .bannerlogog1con4{ background: url(../../assets/images/reptrainingcenter_textbg2.png) no-repeat  center center; background-size: cover; padding: 8px 5px 12px 5px; margin:0 0 1px 0;}

     .bannerlogog1con4 img{ height: 50px;}

     .bannerlogog1con5{ background: url(../../assets/images/reptrainingcenter_textbg2.png) no-repeat  center center; background-size: cover; padding: 8px 5px 12px 5px; margin:0 0 1px 0;}

     .bannerlogog1con5 img{ height: 50px;}


     
     .bannerlogog1con6{ background: url(../../assets/images/reptrainingcenter_textbg4.png) no-repeat  center center; background-size: cover; padding: 10px 5px 10px 5px; margin:-10px 0 0px 0;}

     .bannerlogog1con7{ background: url(../../assets/images/reptrainingcenter_textbg3.png) no-repeat  center center; background-size: cover; padding: 8px 5px 8px 5px; margin:0 0 0px 0;}


     .bannerlogog1con8{ background: url(../../assets/images/reptrainingcenter_textbg2.png) no-repeat  center center; background-size: cover; padding: 8px 5px 12px 5px; margin:0 0 0px 0;}

     .bannerlogog1con8 img{ height: 50px;}


     @media screen and (max-width: 1680px){

          .reptrainingcenter_new_wrapper_con{   padding: 0 280px;     background-size: 240px;  }
     }
 


     @media screen and (max-width: 1400px){

          .reptrainingcenter_new_wrapper_con{      padding: 0 230px;
               background-size: 200px;  }
     }
 

     @media screen and (max-width: 1199px){

          .reptrainingcenter_new_wrapper_con{      padding: 0 50px;  background-image: none; }
     }
 

     @media screen and (max-width: 900px){

        .reptrainingcenter_new_text2{ display: block;}
        .reptrainingcenter_new_text2_subbody{ height: auto;}

        .reptrainingcenter_new_text2 .reptrainingcenter_new_text2_sub { width: auto; margin: 0px!important;}

        .reptrainingcenter_new_text2 .reptrainingcenter_new_text2_sub:nth-child(2){
          margin: -7px 0 0 0!important;
          border-radius: 0px;
      }
      .reptrainingcenter_new_text2 .reptrainingcenter_new_text2_sub:nth-child(3) { margin-top: -7px!important;}
     }


     @media screen and (max-width: 700px){

          .reptrainingcenter_new_wrapper_con{      padding: 0 20px;    }

          .reptrainingcenter_new_wrapper  .reptrainingcenterfootertext  {
                
               background-size: 200px;
               margin: 0 auto;
               margin-top: 20px;
               padding: 0px;
               padding-bottom: 42px;
               margin-bottom: 20px;
               width: auto;
               height: auto;
           }
           .reptrainingcenter_new_wrapper  .reptrainingcenterfootertext h6{ padding:0 0 10px 0;}

           .reptrainingcenter_new_wrapper h2{font-size: 45px;}
     }