
<app-adminheader></app-adminheader>

 <div class="full_Program_View_top">
  <div class="full_Program_View_top_wrapper">
    <div class="full_Program_View_top_left">
   
      <ul>
       <li class="lisubmenu">    About Beto Paredes  
      <ul>
        <li (click)="scroll1()">About Beto Paredes  1</li>
        <li (click)="scroll2()">About Beto Paredes  2</li>
       
      </ul>   
      </li>      
        <li (click)="scroll3()"> Industries       </li>
          <li (click)="scroll4()"> Sales Commissions   </li>   
  
            <li (click)="scroll5()">  Potential Earnings   </li>
  
              <li (click)="scroll6()"> Discovery Desk Program</li> 
  
                <li (click)="scroll7()"> Payment Schedule  </li> 
  
                  <li (click)="scroll8()"> Back Office   </li> 
  
                    <li (click)="scroll9()"> Training      </li>  
  
                      <li (click)="scroll10()"> Weekly Calls      </li> 
  
  
                      <li class="lisubmenu">  Steps To Close
  
                        <ul>
                          <li (click)="scroll11()">Steps To Close  1</li>
                          <li (click)="scroll12()">Steps To Close  2</li>
                          <li (click)="scroll13()">Steps To Close  3</li>
                          <li (click)="scroll14()">Steps To Close  4</li>
                        </ul>   
  
                      </li>
      
      </ul>
      
      
         
      
        </div>

  <div class="full_Program_View_top_right">
   <img src="../../assets/images/beto_fullpogramlogo.png" alt="#">
   <h2>
     <!-- New Sales Representative Introduction Presentation. -->
     Consulting Director Program and Policies
    <span>
      Review the comprehensive program we’re offering <br/>
      you including Commissions Amounts, <br/>
      Payment Schedules, and Program Information.

    </span>
    </h2>

  </div>



  <div class="clear"></div>
</div>
 </div>

<div class="full_Program_View_body full_Program_View_1">
<img src="../../assets/images/full_Program_View_1.jpg">

</div>


<div class="full_Program_View_body full_Program_View_2">
  <img src="../../assets/images/full_Program_View_2.jpg">
  
  </div>
  
<div class="full_Program_View_body full_Program_View_3">
  <img src="../../assets/images/full_Program_View_3.jpg">
  
  </div>
  
  
<div class="full_Program_View_body full_Program_View_4">
  <img src="../../assets/images/full_Program_View_4.jpg">
  
  </div>
  
<div class="full_Program_View_body full_Program_View_5">
  <img src="../../assets/images/full_Program_View_5.jpg">
  
  </div>
  
  
<div class="full_Program_View_body full_Program_View_6">
  <img src="../../assets/images/full_Program_View_6.jpg">
  
  </div>
  
<div class="full_Program_View_body full_Program_View_7">
  <img src="../../assets/images/full_Program_View_7.jpg">
  
  </div>
  
  
  
<div class="full_Program_View_body full_Program_View_8">
  <img src="../../assets/images/full_Program_View_8.jpg">
  
  </div>
  
  
<div class="full_Program_View_body full_Program_View_9">
  <img src="../../assets/images/full_Program_View_9.jpg">
  
  </div>
  
<div class="full_Program_View_body full_Program_View_10">
  <img src="../../assets/images/full_Program_View_10.jpg">
  
  </div>

  
<div class="full_Program_View_body full_Program_View_11">
  <img src="../../assets/images/full_Program_View_11.jpg">
  
  </div>
  
  
<div class="full_Program_View_body full_Program_View_12">
  <img src="../../assets/images/full_Program_View_12.jpg">
  
  </div>
  
  
<div class="full_Program_View_body full_Program_View_13">
  <img src="../../assets/images/full_Program_View_13.jpg">
  
  </div>
  
  
  
  
  
<div class="full_Program_View_body full_Program_View_14">
  <img src="../../assets/images/full_Program_View_14.jpg">
  
  </div>
  
  
 


<span class="backtotop" [ngClass]="{ 'show-scrollTop': windowScrolled }">
  <a (click)="scrollToTop()">
    <img src="../../assets/images/scrolltotop_img.png" >
  </a>


</span>


<app-footer></app-footer>