<app-adminheader></app-adminheader>

<div class="s_getmyoffer_adminpanel">
  <div class="s_getmyoffer_adminpanel_inner">
    <div class="s_getmyoffer_adminpanel_inner_content_left">
    </div>
    <div class="s_getmyoffer_adminpanel_inner_content_right manageleadslist">
      <app-listing class="manageleads" templatetype="table" source="usergoogleevent_view"  [sourcecondition]="sourcecondition" [sourcelimit]="sourcelimit" [tabledatalis]="tabledatalist" menuval="Cron Report ">
      </app-listing>
    </div>
  </div>
</div>
<app-footer></app-footer>